@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  height: 4px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #2a2a2d;
}

*::-webkit-scrollbar-thumb {
  background-color: #64646d;
  border-radius: 0.6rem;
}
